{% block content %}
    {% csrf_token %}
    <header><a href="{% url 'Social:login' %}">Login</a> </header>
    <header><a href="{% url 'Social:form' %}">Signup</a> </header>
    <h1 align="center">Welcome to MyBook</h1>
    <p align="center">
        MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.MyBook is kind of a social networking website developed solely for the purpose of connecting
        students of various universities so that there is a continuous and efficient
        transfer of knowledge between various communities.
    </p>
{% endblock %}